extends layout 

block content 
    if productos.length > 0
        ul
        each val in productos
            //tr
                th.ps-4.align-middle(scope='row')= val.title
                td.text-center.align-middle= val.price
                td
                    .image-container.text-center
                        img.img-thumbnail(src=val.thumbnail alt='Product image')
            li= val.title
            li= val.price
            img(width="50" src=val.thumbnail alt="not found")
    else
        .message 
            h2 No existen productos

    a(href="/") 
        button Cargar productos